In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('RateMyProfessor_Sample_data.csv')
df.head()

,professor_name,school_name,department_name,local_name,state_name,year_since_first_review,star_rating,take_again,diff_index,tag_professor,...,lots_of_homework,accessible_outside_class,lecture_heavy,extra_credit,graded_by_few_things,group_projects,test_heavy,so_many_papers,beware_of_pop_quizzes,IsCourseOnline
0,Leslie Looney,University Of Illinois at Urbana-Champaign,Astronomy department,Champaign\xe2\x80\x93Urbana,IL,11.0,4.7,NaN,2.0,Hilarious (2) GROUP PROJECTS (2) Gives good ...,...,0,0,0,0,0,1,0,0,0,0
1,Leslie Looney,University Of Illinois at Urbana-Champaign,Astronomy department,Champaign\xe2\x80\x93Urbana,IL,11.0,4.7,NaN,2.0,Hilarious (2) GROUP PROJECTS (2) Gives good ...,...,0,0,0,0,0,1,0,0,0,0
2,Leslie Looney,University Of Illinois at Urbana-Champaign,Astronomy department,Champaign\xe2\x80\x93Urbana,IL,11.0,4.7,NaN,2.0,Hilarious (2) GROUP PROJECTS (2) Gives good ...,...,0,0,0,0,0,1,0,0,0,0
3,Leslie Looney,University Of Illinois at Urbana-Champaign,Astronomy department,Champaign\xe2\x80\x93Urbana,IL,11.0,4.7,NaN,2.0,Hilarious (2) GROUP PROJECTS (2) Gives good ...,...,0,0,0,0,0,1,0,0,0,0
4,Leslie Looney,University Of Illinois at Urbana-Champaign,Astronomy department,Champaign\xe2\x80\x93Urbana,IL,11.0,4.7,NaN,2.0,Hilarious (2) GROUP PROJECTS (2) Gives good ...,...,0,0,0,0,0,1,0,0,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 51 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   professor_name            20000 non-null  object
 1   school_name               20000 non-null  object
 2   department_name           20000 non-null  object
 3   local_name                20000 non-null  object
 4   state_name                20000 non-null  object
 5   year_since_first_review   20000 non-null  float64
 6   star_rating               20000 non-null  float64
 7   take_again                2998 non-null   object
 8   diff_index                20000 non-null  float64
 9   tag_professor             11093 non-null  object
 10  num_student               20000 non-null  float64
 11  post_date                 19995 non-null  object
 12  name_onlines              20000 non-null  object
 13  name_not_onlines          19995 non-null  object
 14  student_star              19995 non-null  float64
 15  student_difficult         19995 non-null  float64
 16  attence                   4009 non-null   object
 17  for_credits               4053 non-null   object
 18  would_take_agains         2582 non-null   object
 19  grades                    3292 non-null   object
 20  help_useful               20000 non-null  float64
 21  help_not_useful           20000 non-null  float64
 22  comments                  19993 non-null  object
 23  word_comment              19993 non-null  float64
 24  gender                    20000 non-null  object
 25  race                      20000 non-null  object
 26  asian                     20000 non-null  float64
 27  hispanic                  20000 non-null  float64
 28  nh_black                  20000 non-null  float64
 29  nh_white                  20000 non-null  float64
 30  gives_good_feedback       20000 non-null  int64
 31  caring                    20000 non-null  int64
 32  respected                 20000 non-null  int64
 33  participation_matters     20000 non-null  int64
 34  clear_grading_criteria    20000 non-null  int64
 35  skip_class                20000 non-null  int64
 36  amazing_lectures          20000 non-null  int64
 37  inspirational             20000 non-null  int64
 38  tough_grader              20000 non-null  int64
 39  hilarious                 20000 non-null  int64
 40  get_ready_to_read         20000 non-null  int64
 41  lots_of_homework          20000 non-null  int64
 42  accessible_outside_class  20000 non-null  int64
 43  lecture_heavy             20000 non-null  int64
 44  extra_credit              20000 non-null  int64
 45  graded_by_few_things      20000 non-null  int64
 46  group_projects            20000 non-null  int64
 47  test_heavy                20000 non-null  int64
 48  so_many_papers            20000 non-null  int64
 49  beware_of_pop_quizzes     20000 non-null  int64
 50  IsCourseOnline            20000 non-null  int64
dtypes: float64(13), int64(21), object(17)
memory usage: 7.8+ MB

In [4]:
df.describe()

,year_since_first_review,star_rating,diff_index,num_student,student_star,student_difficult,help_useful,help_not_useful,word_comment,asian,...,lots_of_homework,accessible_outside_class,lecture_heavy,extra_credit,graded_by_few_things,group_projects,test_heavy,so_many_papers,beware_of_pop_quizzes,IsCourseOnline
count,20000.00000,20000.000000,20000.000000,20000.000000,19995.000000,19995.000000,20000.000000,20000.000000,19993.000000,20000.000000,...,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000,20000.000000
mean,7.82350,3.643825,2.956345,33.266850,3.616879,2.988147,0.293850,0.185450,36.961086,0.022525,...,0.201350,0.134250,0.217750,0.116150,0.102800,0.080700,0.098350,0.076750,0.067900,0.020100
std,3.91505,0.836048,0.776795,31.321627,1.457886,1.308825,0.860139,0.720614,21.303202,0.026088,...,0.401019,0.340929,0.412727,0.320413,0.303705,0.272381,0.297795,0.266201,0.251581,0.140346
min,0.00000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000684,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.00000,3.000000,2.400000,15.000000,2.500000,2.000000,0.000000,0.000000,18.000000,0.007562,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.00000,3.700000,3.000000,24.000000,4.000000,3.000000,0.000000,0.000000,38.000000,0.016080,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11.00000,4.300000,3.500000,41.000000,5.000000,4.000000,0.000000,0.000000,57.000000,0.031384,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,16.00000,5.000000,5.000000,321.000000,5.000000,5.000000,9.000000,9.000000,142.000000,0.388363,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
for col in df:
    print(f'{col}: {df[col].nunique()}')

professor_name: 1413
school_name: 554
department_name: 101
local_name: 417
state_name: 57
year_since_first_review: 17
star_rating: 40
take_again: 43
diff_index: 41
tag_professor: 591
num_student: 123
post_date: 4846
name_onlines: 235
name_not_onlines: 8230
student_star: 9
student_difficult: 5
attence: 2
for_credits: 2
would_take_agains: 2
grades: 18
help_useful: 10
help_not_useful: 10
comments: 18923
word_comment: 89
gender: 6
race: 3
asian: 794
hispanic: 787
nh_black: 786
nh_white: 752
gives_good_feedback: 2
caring: 2
respected: 2
participation_matters: 2
clear_grading_criteria: 2
skip_class: 2
amazing_lectures: 2
inspirational: 2
tough_grader: 2
hilarious: 2
get_ready_to_read: 2
lots_of_homework: 2
accessible_outside_class: 2
lecture_heavy: 2
extra_credit: 2
graded_by_few_things: 2
group_projects: 2
test_heavy: 2
so_many_papers: 2
beware_of_pop_quizzes: 2
IsCourseOnline: 2

In [6]:
df_copy = df.copy()

In [7]:
#Since some rows has duplicate values, I will drop them with 'professor_name' subset

df_copy = df_copy.drop_duplicates(subset='professor_name')
len(df_copy)

1413

In [8]:
#Only wants the relevant columns for the RAG

review_data = df_copy[['professor_name', 'school_name', 'star_rating', 'comments', 'race']]

In [9]:
another_data = df_copy[['professor_name', 'school_name', 'star_rating', 'department_name', 'tag_professor']]

In [10]:
another_data = another_data.dropna()

In [11]:
another_data.isna().sum()

professor_name     0
school_name        0
star_rating        0
department_name    0
tag_professor      0
dtype: int64

In [12]:
first20 = another_data[:20]

In [13]:
first20.to_csv('first20Data.csv', index=False)

In [16]:
review_data.head()

,professor_name,school_name,star_rating,comments,race
0,Leslie Looney,University Of Illinois at Urbana-Champaign,4.7,"This class is hard, but its a two-in-one gen-e...",hispanic
20,Jans Wager,Utah Valley University,4.5,Dr. Wager is a great professor. Her expectatio...,hispanic
40,Robert Warden,Philadelphia University,3.4,This guy is a quack! You never understand what...,nh_white
48,Bryan Eldredge,Utah Valley University,4.2,I took his online class as an elective and reg...,hispanic
66,William Hollinrake,Des Moines Area Community College,1.6,Took online course. Day after Midterms I was t...,hispanic

In [25]:
#Dropping rows which has missing values

review_data = review_data.dropna()

In [21]:
review_data.isna().sum()

professor_name    0
school_name       0
star_rating       0
comments          0
race              0
dtype: int64

In [34]:
#Since there's a max input token limits, I will slice the dataset into chunks (get hundred rows at a time)

first_review = review_data[:50]
len(first_review)

50

In [35]:
first_review.to_csv('first_review.csv', index=False)

In [32]:
first_review.to_json('first_review.json')